body{
    background-color:#997a8d;
    font-family: 'Encode Sans', sans-serif;
{
}    .container{
        max-width: 100px;
        padding-top: 30px;
    }
}
    .navbar{
            width:100%;
            height:60;
        background-color:#aa98a9;
            margin-top: -6px;
        }
        .navbar ol{
            margin-left: 1040px;
        }
    .navbar ol li{
        display: inline;
        line-height: 60px;
        padding: 10px;
    }
    
    .navbar ol li a{
        text-decoration:none;
        font-family:sans-serif;
        color: #000;
    }
    .navbar ol li a:hover{
        color: #fff;
    }
    header{
        background-color:#777696;
        font-family: 'Bitter';
    }
  .photorow{
        float:left;
        width:29.33%;
        margin:1%;
        padding:1%;
        height: 140px;
    }
    
    p{
        font-family: sans-serif;
    }
    img {
      box-shadow: 20px 20px 20px;
    
}

div.dropmenus {
  display: none;
  position: absolute;
  top: 100px;
  width: 120px;
  background: #D2E9FF;
  z-index: 2;
  padding: 4px;
  border: #0385CB 3px solid;
  border-top: none;
  -moz-border-radius: 0px 0px 8px 8px;
  border-radius: opx opx 8px 8px;
}

div.dropmenus {
  display: none;
  position: absolute;
  top: 100px;
  width: 120px;
  background: #D2E9FF;
  z-index: 2;
  padding: 4px;
  border: #0385CB 3px solid;
  border-top: none;
  -moz-border-radius: 0px 0px 8px 8px;
  border-radius: opx opx 8px 8px;
}

div.dropmenus > a {
  display: block;
  margin: 4px;
  padding: 7px;
  font-size: 14px;
  text-decoration: none;
  background: #E8E8E8;
  border: #666 1px solid;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000;
}

div.dropmenus > a:hover {
  background: #FFF;
  border: #06F 1px solid;
  color: #000;

}
.intro{
    max-width: 960px;
    margin:0 auto;
    padding:8% 0;
}

h1, h2, h3 {
    font-family: 'Bitter', serif;
    font-style: normal;
    text-align:center;
}
header {
    background-position: center top;
    text-transform: uppercase;
    width:100%;
}
form{
    width:500px;
    margin: 0 auto;
}
label{
    display:block;
    margin: 5 0 5 20px;
    font: 18px sans-serif;
}
input{
    width:250px;
    margin: 0 0 0 20px;
}
textarea{
    width:250px;
    margin:0 0 0 20px;
}
fieldset{
    border:none;
    background-color:#796878;
    padding:0 0 20px 0;
}
